body {
  font-family: 'Arial', sans-serif;
  background-color: #FFFDD0;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #010a91;
  padding: 15px 20px;
  display: flex;
  flex-direction: column; 
  gap: 15px;
  box-shadow: 0 5px 10px black;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s;
  text-align: center; 
}

nav a:hover {
  background-color: #000000;
}
nav a:active {
  transform: translateY(2px);
}

.genbtn {
  border: none;
  background-color: #010a91;
  color: white;
  box-shadow: 0 0 5px black;
  padding: 10px;
  border-radius: 8px;
  width: 100%; 
  margin: 0;
  font-size: 2rem;
}

.genbtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.genbtn:active{
  transform: translateY(2px);
}

.orderbtn {
  border: none;
  background-color: #010a91;
  color: white;
  box-shadow: 0 0 5px black;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px; 
  font-size: 1rem;
  
}

.orderbtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.orderbtn:active{
  transform: translateY(2px)
}

.Pre {
  text-align: center;
  margin-top: 20px;
}

.Main, .second {
  margin: 40px 20px; 
  padding: 20px;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
  margin-top: 0;
  color: #333;
  text-align: center;
}

.pre, p, label {
  color: #555;
  line-height: 1.6;
  margin-right: 50%;
}

strong {
  font-weight: bold;
}

select {
  background-color: #010a91;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 2px;
}

input {
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  width: 95%; 
}

::placeholder {
  font-weight: bold;
}

li {
  margin: 5px 0;
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row; 
    justify-content: flex-start;
  }

  .Main, .second {
    margin: 40px auto; 
    padding: 30px;
  }

  .genbtn {
    margin-left: 35%; 
    width: auto; 
  }

  .orderbtn {
    margin-left: 10px;
  }

  .Pre {
    margin-left: 35%;
  }

  input {
    width: auto; 
  }
}